{% extends 'login/base.html'%}
{%load static%}
{%block title%}Home{% endblock%}
{%block content%}
<div class="container">
    <br>
    <form action="" method="POST">
        {%csrf_token%}
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Your Name" name="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Email" name="email">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address" name="address">
  </div>
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="number">
  </div>

   <div class="mb-3">
      <label for="country" class="form-label">Blood Group</label>
      <select class="form-select" id="country" required name="blood" >
        <option value="">Select</option>
        <option>A+</option>
          <option>A-</option>
          <option>O+</option>
          <option>O-</option>
          <option>AB-</option>
          <option>AB+</option>
          <option>B+</option>
          <option>B-</option>

      </select>
    </div>
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Age</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Age" name="age">
  </div>
        <br>

        <button type="submit" class=" btn btn-primary btn-lg">Submit</button>
</form>
</div>
{%endblock%}